# Since the ".env" file is gitignored, you can use the ".env.example" file to
# build a new ".env" file when you clone the repo. Keep this file up-to-date
# when you add new variables to `.env`.

# This file will be committed to version control, so make sure not to have any
# secrets in it. If you are cloning this repo, create a copy of this file named
# ".env" and populate it with your secrets.

# When adding additional environment variables, the schema in "/src/env.mjs"
# should be updated accordingly.

# Prisma
# https://www.prisma.io/docs/reference/database-reference/connection-urls#env
MONGODB_URI="<URI_STRING>"

NEXTAUTH_SECRET="<SECRET>"

NODE_ENV="development"
NEXT_PUBLIC_THE_GENIUS_ENV="development"
NEXT_PUBLIC_GTAG_ID="<SECRET>"

SOCKET_IO_ADMIN_USERNAME="<USERNAME>"
SOCKET_IO_ADMIN_PASSWORD="<PASSWORD>"

GOOGLE_CLIENT_ID="<SECRET>"
GOOGLE_CLIENT_SECRET="<SECRET>"

DISCORD_CLIENT_ID="<SECRET>"
DISCORD_CLIENT_SECRET="<SECRET>"

WEBSITE_URL="http://localhost:3000"

