.wrapper {
  height: 10rem;
  width: 100%;
  max-width: 900px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background: var(--mantine-color-dark-6);
  border-radius: var(--mantine-radius-md);
  padding: 0 1.5rem;
  gap: 1.5rem;
  box-shadow: 4px 7px 16px -6px rgba(0, 0, 0, 0.73);
}

.timerText {
  font-size: 3.5rem;
  min-width: 3.5rem;
  text-align: center;
  color: var(--mantine-color-white);
}

.barsContainer {
  flex: 1;
  height: 100%;
  align-items: center;
  gap: 0.5rem;
}

.bar {
  height: 70%;
  flex: 1;
  min-width: 4px;
  border-radius: 10px;
  transition:
    background 0.6s,
    opacity 0.6s;
}

.barDefault {
  background: var(--mantine-color-dark-4);
}

.barSuccess {
  background: var(--mantine-color-green-6);
}

.barError {
  background: var(--mantine-color-red-6);
}
